<footer>
  <div class="wrapper">
    <p class="tagline">
      <em><strong>Operaton</strong></em> – community-driven, free and open-source BPMN-Process Automation
    </p>

    <nav id="further-links" aria-label="Footer">
      <menu>
        <li><a href="/legal">Legal</a></li>
      </menu>
      <menu>
        <li><a href="/privacy">Privacy</a></li>
      </menu>
      <menu>
        <li><a href="https://github.com/operaton/operaton?tab=Apache-2.0-1-ov-file#readme">Licenses</a></li>
      </menu>
      <menu>
        <li><a href="https://github.com/operaton/branding">Branding</a></li>
      </menu>
      <menu>
        <li><a href="https://fosstodon.org/@operaton">Mastodon</a></li>
      </menu>
      <menu>
        <li><a href="https://www.linkedin.com/company/operaton">LinkedIn</a></li>
      </menu>
    </nav>
  </div>
</footer>