<footer>
  <div class="wrapper">
    <strong>Operaton</strong> <br>
    BPMN-Process Automation for Everyone

    <nav id="further-links" aria-label="Footer">
      <menu>
        <li><a href="{{ "/legal" | relative_url }}">Legal</a></li>
        <li><a href="{{ "/privacy" | relative_url }}">Privacy</a></li>
        <li><a href="https://github.com/operaton/branding">Branding</a></li>
        <li><a href="https://github.com/operaton/operaton?tab=Apache-2.0-1-ov-file#readme">Licenses</a></li>
      </menu>
      <menu>
        <li><a href="https://fosstodon.org/@operaton">Mastodon</a></li>
        <li><a href="https://www.linkedin.com/company/operaton">LinkedIn</a></li>
      </menu>
    </nav>
  </div>
</footer>
