<header>
    <a id="skip-to-content" href="/#content">SKIP TO CONTENT</a>
    <a class="logo" href="{{"/"|relative_url}}">
      <div class="operaton-logo">
        <span class="screen-hidden">Operaton</span>
      </div>
    </a>
    <nav aria-label="Main">
      <menu id="primary-navigation">
        <li><a href="{{ "/#features" | relative_url }}">Features</a></li>
        <li><a href="{{ "/roadmap" | relative_url }}">Roadmap</a></li>
        <li><a href="{{ "/resources" | relative_url }}">Resources</a></li>
        <li><a href="{{ "/hub" | relative_url }}">Hub</a></li>
        <li><a href="{{ "/service-providers" | relative_url }}">Service Providers</a></li>
        <li><a href="{{ "/faq" | relative_url }}">FAQ</a></li>
        <li><div class="spacer"></div></li>
        <li><a href="{{ "/blog" | relative_url }}">Blog</a></li>
        <li><a href="{{ "/#contact" | relative_url }}">Contact</a></li>
        <li><a href="https://docs.operaton.org/docs/get-started/" class="button">Get Started</a></li>
      </menu>


      <details id="primary-navigation-mobile" hidden>
        <summary aria-label="open mobile menu"></summary>

        <menu>
          <menu>
            <li><a href="{{ "/#features" | relative_url }}">Features</a></li>
            <li><a href="{{ "/roadmap" | relative_url }}">Roadmap</a></li>
            <li><a href="{{ "/resources" | relative_url }}">Resources</a></li>
            <li><a href="{{ "/hub" | relative_url }}">Hub</a></li>
            <li><a href="{{ "/service-providers" | relative_url }}">Service Providers</a></li>
            <li><a href="{{ "/faq" | relative_url }}">FAQ</a></li>
            <li><div class="spacer"></div></li>
            <li><a href="{{ "/blog" | relative_url }}">Blog</a></li>
            <li><a href="{{ "/#contact" | relative_url }}">Contact</a></li>
            <li><a href="{{ "/#" | relative_url }}" class="button">Get Started</a></li>
          </menu>
        </menu>
      </details>
      </nav>
    </div>
  </div>
</header>
