  <header>
    <div class="wrapper">
      <a class="logo" href="/">
        <img  alt="operaton logo" src="{{ "/assets/img/operaton-logo.svg" | relative_url }}" />
      </a>
      <div>
        <div id="secondary-navigation">
          <p id="tagline">BPMN-Process Automation for Everyone</p>

          <nav>
            <menu id="secondary" aria-label="Resources">
              <li>
                <a href="https://github.com/operaton" target="_blank">
                  <img src="{{ "/assets/img/icons/code.svg" | relative_url }}" alt=""/>
                  Source Code
                </a>
              </li>
              <li>
                <a href="https://docs.operaton.org" target="_blank">
                  <img src="{{ "/assets/img/icons/book.svg" | relative_url }}" alt=""/>
                  Documentation
                </a>
              </li>
              <li>
                <a href="https://forum.operaton.org" target="_blank">
                  <img src="{{ "/assets/img/icons/users.svg" | relative_url }}" alt=""/>
                  Forum
                </a>
              </li>
              <li>
                <a href="/chat">
                  <img src="{{ "/assets/img/icons/message-square.svg" | relative_url }}" alt=""/>
                  Chat
                </a>
              </li>
            </menu>
          </nav>
        </div>

        <nav aria-label="Main">
        <menu id="primary-navigation">
          <menu>
            <li><a href="/#features">Features</a></li>
            <li><a href="/#roadmap">Roadmap</a></li>
            <li><a href="/#principles">Principles</a></li>
          </menu>
          <div class="spacer"></div>
          <menu>
            <li><a href="/about">About</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/#contact">Contact</a></li>
          </menu>
        </menu>


        <details id="primary-navigation-mobile">
          <summary aria-label="open mobile menu"></summary>

          <menu>
            <menu>
              <li><a href="/features">Features</a></li>
              <li><a href="/roadmap">Roadmap</a></li>
              <li><a href="/#principles">Principles</a></li>
            </menu>
            <div class="spacer"></div>
            <menu>
              <li><a href="/about">About</a></li>
              <li><a href="/blog">Blog</a></li>
              <li><a href="/#contact">Contact</a></li>
            </menu>
          </menu>
        </details>
        </nav>
      </div>
    </div>
  </header>
