<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/normalize.css" | relative_url }}">
    <link href="{{ "/assets/img/favicon.png" | relative_url }}" rel="icon">

    <style>
      details#primary-navigation-mobile {

        summary::after {
          background-image: url({{"/assets/img/icons/menu.svg"|relative_url}});
        }

        &[open] > summary::after {
          background-image: url({{"/assets/img/icons/x.svg"|relative_url}});
        }
      }

      details.heading {
        summary::before {
          background-image: url({{"/assets/img/icons/chevron-right.svg"|relative_url}});
        }

        &[open] > summary::before {
          background-image: url({{"/assets/img/icons/chevron-down.svg"|relative_url}});
        }
      }
    </style>
  </head>
  <body id="body">
    <header>
      <div class="wrapper">
        <a class="logo" href="/">
          <img  alt="operaton logo" src="/assets/img/operaton-logo.svg" />
        </a>
        <div>
          <div id="secondary-navigation">
            <p id="tagline">BPMN-Process Automation for Everyone</p>

            <menu id="secondary">
              <li>
                <a href="https://github.com/operaton" target="_blank">
                  <img src="{{ "/assets/img/icons/code.svg" | relative_url }}"/>
                  Source Code
                </a>
              </li>
              <li>
                <a href="https://docs.operaton.org" target="_blank">
                  <img src="{{ "/assets/img/icons/book.svg" | relative_url }}"/>
                  Documentation
                </a>
              </li>
              <li>
                <a href="https://forum.operaton.org" target="_blank">
                  <img src="{{ "/assets/img/icons/users.svg" | relative_url }}"/>
                  Forum
                </a>
              </li>
              <li>
                <a href="/chat">
                  <img src="{{ "/assets/img/icons/message-square.svg" | relative_url }}"/>
                  Chat
                </a>
              </li>
            </menu>
          </div>

          <menu id="primary-navigation">
            <menu>
              <li><a href="/features">Features</a></li>
              <li><a href="/roadmap">Roadmap</a></li>
              <li><a href="/#principles">Principles</a></li>
            </menu>
            <div class="spacer"></div>
            <menu>
              <li><a href="/about">About</a></li>
              <li><a href="/blog">Blog</a></li>
              <li><a href="/#contact">Contact</a></li>
            </menu>
          </menu>

          <details id="primary-navigation-mobile">
            <summary aria-label="open mobile menu"></summary>

            <menu>
              <menu>
                <li><a href="/features">Features</a></li>
                <li><a href="/roadmap">Roadmap</a></li>
                <li><a href="/#principles">Principles</a></li>
              </menu>
              <div class="spacer"></div>
              <menu>
                <li><a href="/about">About</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/#contact">Contact</a></li>
              </menu>
            </menu>
          </details>
        </div>
      </div>
    </header>

    <div id="tagline-mobile">
        BPMN-Process Automation for Everyone
      </div>

    <main>

      {{ content }}
    </main>

    <footer>
      <div class="wrapper">
        <p class="tagline">
          <em><strong>Operaton</strong></em> – community driven, open-source BPMN
        </p>
        <br>
        <menu>
          <li>Legal</li>
          <li>Privacy</li>
          <li>Licenses</li>
          <li>Branding</li>
        </menu>
      </div>
    </footer>

    <script>
      // toggle the open state of the details headings on resize

      const details_headings = document.querySelectorAll("details.heading");
      let was_large_width = innerWidth > 700;

       if (innerWidth <= 700) {
         details_headings.forEach((child, index) => {
           child.removeAttribute('open');
         })
       }

      window.onresize = () => {
        console.log(was_large_width, innerWidth);

        if (was_large_width && innerWidth <= 700) {
          details_headings.forEach((child, index) => {
            child.removeAttribute('open');
          })

          was_large_width = false;
        } else {
          if (window.innerWidth > 700) {
            was_large_width = true;

            details_headings.forEach((child, index) => {
              child.setAttribute('open', true);
            })
          }
        }

      }
    </script>
  </body>
</html>
