<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title>{{ page.title }} - {{ site.title }}</title>

    {% include meta.html %}
    {% include resources.html %}

    <style>

    </style>
  </head>
  <body>
    {% include header.html %}

    <div id="scroll-area">
      <div id="tagline-mobile">
        BPMN-Process Automation for Everyone
      </div>
      
      <main id="content">
        {{ content }}
      </main>

      {% include footer.html %}
    </div>
  </body>
</html>
